@charset "UTF-8";

/*
    Verde : #49a09d
    Lilás: #5f2c82
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
}
section{
    
    margin: auto;
    margin-top: 100px;
    background-color: transparent;
    
}

div#imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

div#imagem > img{
    width: 265px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
   
}

div#formulario{
    margin-top: 0px;
    background-color: white;
    width: 265px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
}
h1{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 3px;
}

p{
    text-align: justify;
    padding: 10px;
    font-size: small;
    margin-top: -10px;
}

form {
    text-align: center; 
    padding: 10px;  
    
}
input{
    margin: 3px;
    padding: 10px 5px;
    background-color: #74faf5;
    border-radius: 7px;
    margin: 5px;
    border: none;
}
form > p > span{
    padding: 5px;
    color: white;
}
form > p{
    margin-top: 5px;
    display: inline-block;
    background-color: #5f2c82;
    border-radius: 15px;
    padding: 0px;
     
}

#enviar{
   width: 230px;
   border-radius: 7px;
   background-color: #5bc7c3;
}

#enviar:hover{
    background-color: #3b807d;
}

#resete{
    width: 230px;
    border-radius: 7px;
    background-color: white;
    border: 1.5px solid #5bc7c3;
}

#resete:hover{
    background-color: #5bc7c3;
}




    
